<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

{% load static %}
{% load i18n %}

<head>
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<style>
#drop{
	border:2px dashed #bbb;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:25px;
	text-align:center;
	font:20pt bold,"Vollkorn";color:#bbb
}
a { text-decoration: none }
</style>
</head>

<body>
	<div id="xlsx-in">
		Output Format: <select name="format" onchange="setfmt()">
		<option value="csv" selected> CSV</option>
		<option value="json"> JSON</option>
		<option value="form"> FORMULAE</option>
		<option value="html"> HTML</option>
		</select><br />
		<div id="drop">Drop a spreadsheet file here to see sheet data</div>
		<input type="file" name="xlfile" id="xlf" /> ... or click here to select a file
	</div>
	<div id="plot" class="content">
	
	</div>

	<div class="spacer"></div>
	
	<script src="https://mpld3.github.io/js/d3.v3.min.js"></script>
	<script src="https://mpld3.github.io/js/mpld3.v0.3.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script type="module">
		import {ajax} from "{% static 'valexa_app/app/__target__/ajaxUtils.js' %}";
		if(typeof(mpld3) !== "undefined" && mpld3._mpld3IsLoaded) {
			ajax({
				type: "GET",
				url: "{% url 'valexa_app:result' %}",
				data: "",
				dataType: "application/json",
				success: function(data, status, xhr) {
				/*	Plotly.plot(
						document.getElementById("plot"),
						data.results[0]
					)*/
					mpld3.draw_figure("plot", data.results[0]);
				},
				error: function(xhr, status, error) {
					alert(error);
				}
			})
			
		} else {
			alert("mpld3 is not loaded");
		}
	</script>
</body>

</html>

